.btn-group {
    margin-top: 20px;
}

.btn:hover {
    outline: 5px solid #ffffff34;
}

/* .btn:active {
    background-color: white;
    color: black;
} */

.btn:not(.btn-light):hover {
    /* outline-color: red; */
    background-color: #ffffff34;
    color: white;
}
.btn:focus {
    outline: none;
}
